@CHARSET "ISO-8859-1";

body {
	background-color: #E9E581;
}

.logInContext {
	margin: 10px auto 10px auto !important;
	padding: 10px;
	width: 400px;
	color: maroon;
	background-color: #74AFAD;
	border-radius: 25px;
	box-shadow: 10px 10px 5px #888888;
}
.form-group {
  margin-bottom: 15px;
}
